<template>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OHHH NOOOOOUUUUUUU</title>
  </head>

  <body>
    <main>
      <nav>
        <img alt="Vue logo" src="../assets/1.png" />
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
        <a href="#">Page 4</a>
      </nav>

      <header>
        <div class="header__text">
          <h1>OHHH NOOOOOUUUUUUU</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse beatae, magni voluptates quibusdam laborum</p>
        </div>
        <div class="header__image">
          <img alt="Vue logo" src="../assets/3.jpg" />
        </div>
      </header>

      <section class="section doras">
        <div class="section__container doras__container">
          <article class="doras__container--articulo">
            <img src="../assets/1.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto vitae officia consequuntur illum deserunt dolorem, adipisci earum.</p>
          </article>
          <article class="doras__container--articulo">
            <img src="../assets/1.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto vitae officia consequuntur illum deserunt dolorem, adipisci earum.</p>
          </article>
          <article class="doras__container--articulo">
            <img src="../assets/1.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto vitae officia consequuntur illum deserunt dolorem, adipisci earum.</p>
          </article>
        </div>
      </section>
      <section class="section doras">
        <div class="section__container doras__container">
          <article class="doras__container--segundo">
            <img src="../assets/2.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse beatae, magni voluptates quibusdam laborum dolor eum dolore maiores aut error nihil praesentium. Sint obcaecati eum voluptatum a illo distinctio!</p>
          </article>
          <article class="doras__container--segundo">
            <img src="../assets/2.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse beatae, magni voluptates quibusdam laborum dolor eum dolore maiores aut error nihil praesentium. Sint obcaecati eum voluptatum a illo distinctio!</p>
          </article>
          <article class="doras__container--segundo">
            <img src="../assets/2.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse beatae, magni voluptates quibusdam laborum dolor eum dolore maiores aut error nihil praesentium. Sint obcaecati eum voluptatum a illo distinctio!</p>
          </article>
          <article class="doras__container--segundo">
            <img src="../assets/2.jpg" alt />
            <h3>08 julio 2019</h3>
            <h2>Dora Dora Dora</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse beatae, magni voluptates quibusdam laborum dolor eum dolore maiores aut error nihil praesentium. Sint obcaecati eum voluptatum a illo distinctio!</p>
          </article>
        </div>
      </section>

      <footer class="footer fin">
        <div class="footer__container fin__container">
        <img alt="Vue logo" src="../assets/1.png" />
        <p>dora dora dora la exploradora</p>
        </div>
      </footer>
    </main>
  </body>
</html>
</template>

<script>
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
body {
  * {
    margin: 5px;
  }
  /* nav */
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    background-color: rgba(252, 185, 65, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    img {
      max-width: 50px;
    }
    a {
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
  /* nav */
  /* header */
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    &__text {
      background: blue;
      text-align: left;
    }
    &__image {
      background: red;
      img {
        max-width: 100px;
      }
    }
  }
  /* header */
  /* section */
  section {
    display: flex;
    img {
      max-width: 20%;
    }
  }
  /* section */
  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
}

body {
  margin: 0;
}

.section {
  width: 100vw;
  &__container {
    max-width: 1233px;
    margin: auto;
  }
}

.doras {
  &__container {
    display: flex;
    &--articulo {
      background-color: rgba(241, 169, 160, 0.5);
    }
    &--segundo {
      background-color: rgba(197, 239, 247, 0.5);
    }
  }
}
.fin{
  &__container{
    width: 100vw;
    background-color: rgba(218, 223, 225, 0.5); 
    justify-content: center;
    img{
      max-width: 80px;
    }
  }
}
</style>
